html, body {
  margin: 0;
  padding: 0;
  background-image: url(‘IMG_0752.JPG’);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #0000;
}

canvas {
  display: block;
}
